@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); /*Fonte: Audiowide*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", Helvetica, sans-serif;
}


:root{
    --cor1: #413697;
    --cor2: #3b5fd3;
}


main{
    text-align: center;
}

/*header*/
header{
    display: grid;
    place-items: center;

    padding: 20px;
    background-color: var(--cor1);
    color: #ffffff;
    
}


header h1{
    font-family: "Audiowide", Arial, sans-serif;
    place-content: center;
}


/*section.frase*/
.frase{
    display: grid;
    place-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.088);
    padding: 20px 10px;
    margin-bottom: 7px;
}
.frase p{
    font-family: Geneva, Tahoma, sans-serif;
}

/*aside*/
aside{
    text-align: justify;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.092);
    background-color: rgb(245, 245, 245);
}
aside abbr{
    text-decoration: none;
}
aside h1{
    margin-bottom: 20px;
}
aside section.formacao{
    margin: 0px 0px 50px 0px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.437);

}
aside section.formacao h2{
    margin-bottom: 10px;
}
aside section.formacao p{
    padding: 5px;
}




aside section.qualificacoes{
    padding: 20px 5px 0px 5px;
}
aside section.qualificacoes h2{
    margin: 0px 0px 20px 0px;
}
aside section.qualificacoes ul{
    list-style-type: disc;
    padding: 20px;
    margin: 0px -5px 50px -5px;
    background-color: rgba(255, 255, 255, 0.437);

}
aside section.qualificacoes ul li{
    padding: 5px;
}
aside section.qualificacoes .soft-skills a{
    text-decoration: none;
    color: black;
}

/*section.projetos*/
.projetos h1{
    padding-bottom: 20px;
    background-color: var(--cor1);
    color: white;
    font-family: "Audiowide", Arial, sans-serif;
}
.projetos p{
    position: relative;
    border: 1px solid #4136972e;
    text-align: right;
    background-color: white;
}
.projetos img{
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}
.projetos a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px;
}
@media screen and (min-width: 740px) {
    .projetos h1{
        background-color: white;
        color: var(--cor1);
    }
}


/*section.importante*/
section.importante{
    display: grid;
    place-content: center;
    padding: 5vh 20px;
    background-color: #4136970e;
}

/*section.outro*/
section.outro{
    display: grid;
    place-content: center;
    padding-top: 5px;
}
section.outro img{
    display: block;
    width: 200px;
}

/*footer*/
footer{
    display: grid;
    place-content: center;
    margin-top: 10px;
    padding: 5px;
    background-color: var(--cor1);
    color: white;
}


/*Outras configurações*/
.destaque{
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}