@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


main{
    text-align: center;
}
/*header*/
header{
    display: grid;
    place-content: center;
    padding: 20px;
    background-color: #413697;
    color: white;

}

/*section.frase*/
.frase{
    display: grid;
    place-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.088);
    padding: 10px;
}
.frase p{
    font-family: cursive;
}

/*aside*/
aside{
    text-align: justify;
    padding: 10px;
}
aside abbr{
    text-decoration: none;
}
aside h1{
    margin-bottom: 20px;
}
aside section.formacao{
    border: 1px solid black;
    margin: 0px 0px 20px 0px;
}
aside section.formacao h2{
    margin-bottom: 10px;
}
aside section.formacao p{
    padding: 5px;
}




aside section.qualificacoes{
    border: 1px solid black;
}
aside section.qualificacoes h2{
    margin: 0px 0px 20px 0px;
}
aside section.qualificacoes ul{
    list-style-type: disc;
    padding: 20px;
}
aside section.qualificacoes ul li{
    padding: 5px;
}


/*section.projetos*/
.projetos h1{
    padding-bottom: 20px;
    background-color: #413697;
    color: white;
    font-family: verdana, sans-serif;
}
.projetos p{
    position: relative;
    border: 1px solid #4136972e;
    text-align: right;
    background-color: white;
}
.projetos img{
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}
.projetos a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px;
}


/*section.importante*/
section.importante{
    display: grid;
    place-content: center;
    text-align: justify;
    padding: 10px;
}

/*section.outro*/
section.outro{
    display: grid;
    place-content: center;
}
section.outro img{
    display: block;
    width: 200px;
}

/*footer*/
footer{
    display: grid;
    place-content: center;
    margin-top: 10px;
    padding: 5px;
    background-color: #413697;
    color: white;
}


/*Outras configurações*/
.destaque{
    color: #413697;
    text-decoration: none;
    font-weight: bold;
}