@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); /*Fonte: Audiowide*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", Helvetica, sans-serif;
}


:root{
    --cor1: #0a3668;
    --cor2: #36B3A3;
    --cor3: #3a2f92;
    --cor4: #32a095c1;
    --cor5: #474747;
}

body{
    background-color: #4a78aa2b;
}

main{
    max-width: 900px;
    margin: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.488);
}

/*header*/
header{
    text-align: center;
    background: radial-gradient(#bdbdf034, #ffffff);
    padding-top: 20px;
    transition-duration: 4s;
    
}
header:hover{
    background: #e5ddffb3;
    transition-duration: 10s;
}
header:active{
    background: radial-gradient(#b36e3613, #8080800f);
    transition-duration: 10s;
}

#foto-perfil{
    display: block;
    height: 140px;
    margin: auto;
    border-radius: 50%;
    border: 3.1px solid #d7d5e6;
    background-color: var(--cor1);
    transition-duration: 2s;

}

header h1{
    font-family: "Audiowide", Arial, sans-serif;
    place-content: center;
    color: #ffffff;
    padding: 20px;
    color: #3a3a3a;
}

header #botao-modo-escuro{
    display: flex;
    justify-content: right;
    align-items: center;
}

/*section.frase*/
.frase{
    display: grid;
    place-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.088);
    padding: 20px 10px;

    background-color: white;
    
}
.frase p{
    font-family: Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: white;
}

/* aside:
 Formação acadêmica + Cursos e Experiências */
aside{
    text-align: justify;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.092);
    background-color: rgb(245, 245, 245);
}
aside abbr{
    text-decoration: none;
}
aside h1{
    margin-bottom: 20px;
}
aside h2{
    background-color: var(--cor5);
    color:  rgb(255, 255, 255);
    font-size: 1.3em;
    border-radius: 0px 0% 20px 0px;
    padding: 8px;
    margin: 0px 0px 10px -16px;
    text-align: center;
    transition-duration: 4s;
}

h2#titulo_experiencias:hover, h2#titulo_ferramentas:hover{
    background-color: rgba(64, 112, 183, 0.854);
    font-size: 16pt;
}
h2#titulo_experiencias:active{
    background-color: rgba(4, 46, 93, 0.74);
    font-size: 14pt;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.119);
}

aside h3{
    background-color: rgba(223, 223, 223, 0.438);
    padding: 5px;
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}

aside section.formacao{
    margin: 0px 0px 50px 0px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.437);
    text-align: center;

}
aside section.formacao h2{
    /*margin: 0px 0px 20px 0px;*/
    margin-bottom: 20px;
}
aside section.formacao h3{
    /*margin: 0px 0px 20px 0px;*/
}
aside section.formacao p{
    padding: 5px;
}



section.qualificacoes{
    padding: 20px 5px 0px 5px;
}
section.qualificacoes h2{
    /*margin: 0px 0px 20px 0px;*/
}
section.qualificacoes ul{
    list-style-type: none; /*disc*/
    padding: 20px;
    margin: -2% -2.7% 0% -2.7%;
    border-radius: 0 6% 0 0;
    background-color: rgba(255, 255, 255, 0.437);
}
#experiencias_comportamentais , #ferramentas{
    display: none;
    transition-duration: 4s;
}
section.qualificacoes ul li{
    background-color: var(--cor2);
    border-radius: 5px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
    margin: 10px 0px;   
}
section.qualificacoes ul div{
    background-color:  rgb(243, 243, 243);
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
}
section.qualificacoes ul div:hover{
    font-size: 12.5pt;
    transition-duration: 1s;
}
section.qualificacoes ul p{
    background-color: rgba(255, 255, 255, 0.568);
    padding: 5px;
    border-radius: 2px;
}

#experiencias_comportamentais{
    background-color: var(--cor4);
    transition-duration: 4s;
}
#experiencias_comportamentais div{
    background-color: #ffffff;
}



/*section.projetos*/
.projetos h1{
    padding-bottom: 20px;
    background-color: var(--cor2);
    color: white;
    font-family: "Audiowide", Arial, sans-serif;
}
.projetos p{
    position: relative;
    border: 1px solid #4136972e;
    text-align: right;
    background-color: white;
}
.projetos img{
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}
.projetos a{
    display: block;
    padding: 20px;
}
@media screen and (min-width: 740px) {
    .projetos h1{
        background-color: white;
        color: var(--cor1);
    }
}


/*section.importante*/
section.importante{
    display: grid;
    place-content: center;
    padding: 5vh 20px;
    background-color: #4136970e;
    text-align: left;
    
}
section.importante p{
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Lucida Sans', 'Verdana', sans-serif;
}

/*section.outro*/
section.outro{
    display: grid;
    place-content: center;
    padding: 10px 0px;
    background-color: rgb(249, 246, 245);
}
section.outro img{
    display: block;
    width: 200px;
}

/*footer*/
footer{
    display: grid;
    place-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--cor1);
    color: white;
}


/*Outras configurações*/
a{
    text-decoration: none;
    color: black;
}
.destaque1{ /* Usado para destacar o "ETE PORTO..." e o Email para contato: "gmight..."*/
    color: var(--cor3);
    font-weight: bold;
}
.destaque2{ /*Usado no campo onde há informações dos cursos*/
    color: #323138;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
abbr{
    text-decoration: none;
}