



aside h2, header h1{
    color: black;
}

section.qualificacoes{
    border: 1px solid rgba(84, 84, 84, 0.107);
}




.projetos, section.importante, footer{
    display: none;
}

.destaque, .destaque1{
    color: black;
}